.btn, .select{
    /* background-color:black; */
    /* color:white; */
    border:none;
    outline:none;
    cursor: pointer;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

/* Pop up */
.close-popup{
    margin-top: 10px;
    position:absolute;
    right: 10px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}