.btn, .select{
    /* background-color:black; */
    /* color:white; */
    border:none;
    outline:none;
    cursor: pointer;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}
